In [84]:
import pandas as pd

In [86]:
df = pd.read_csv('sales_data.csv')

In [88]:
print(df.head())

   OrderID      CustomerName  Category  Amount  Rating   OrderDate
0        1       Justin Hahn     Books  353.32       4  18-01-2025
1        2  Joshua Velasquez     Books  469.74       2  02-09-2024
2        3        Karen Tran  Clothing  671.81       4  13-07-2024
3        4    Andrew Roberts      Home  386.22       2  07-06-2024
4        5     Patricia Boyd      Toys  722.20       1  13-12-2024

## Q1: What is the total revenue?

In [91]:
sum_of_revenue= df['Amount'].sum()
print(f"The Total Revenue is: {sum_of_revenue}")

The Total Revenue is: 57215.45

## Q2: Which category generated the highest revenue?

In [94]:
category_revenue = df.groupby("Category")["Amount"].sum().sort_values(ascending=False)
print(category_revenue)
print("Top category:", category_revenue.idxmax(), "with revenue:", category_revenue.max())

Category
Books          14178.43
Home           11975.88
Toys           10627.08
Clothing       10549.91
Electronics     9884.15
Name: Amount, dtype: float64
Top category: Books with revenue: 14178.43

## Q3: What is the average rating per category?

In [97]:
avg_rating_per_category = df.groupby("Category")["Rating"].mean().sort_values(ascending=False)
print(avg_rating_per_category)

Category
Clothing       3.777778
Electronics    3.187500
Books          2.692308
Toys           2.500000
Home           2.318182
Name: Rating, dtype: float64

## Q4: Monthly revenue trends

In [100]:
df["OrderDate"] = pd.to_datetime(df["OrderDate"], errors="coerce")

df["Month"] = df["OrderDate"].dt.to_period("M")

monthly_revenue = df.groupby("Month")["Amount"].sum().sort_index()

print(monthly_revenue)

Month
2024-04    2493.64
2024-05    3534.99
2024-06    3985.84
2024-07    5585.82
2024-08    6140.65
2024-09    2994.46
2024-10    1709.15
2024-11    4325.19
2024-12    5314.27
2025-01    5555.77
2025-02    6569.77
2025-03    3891.58
2025-04    5114.32
Freq: M, Name: Amount, dtype: float64

C:\Users\asus\AppData\Local\Temp\ipykernel_15300\4067757445.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["OrderDate"] = pd.to_datetime(df["OrderDate"], errors="coerce")

## Q5: Top 5 customers by total spend

In [103]:
top_customers = df.groupby("CustomerName")["Amount"].sum().sort_values(ascending=False).head(5)
print(top_customers)

CustomerName
Michael Johnson      996.34
Sergio Robinson      992.05
Crystal Zimmerman    981.09
Vanessa Boyd         979.21
Nicole Henry         977.37
Name: Amount, dtype: float64

## Q6:How many orders received a perfect 5-star rating?

In [106]:
perfect_rated_orders = df[df["Rating"] == 5]
print("Total 5-star orders:", len(perfect_rated_orders))

Total 5-star orders: 15

## Q7: Average order amount per category

In [109]:
avg_amount_per_category = df.groupby("Category")["Amount"].mean().sort_values(ascending=False)
print(avg_amount_per_category)

Category
Electronics    617.759375
Toys           590.393333
Clothing       586.106111
Books          545.324231
Home           544.358182
Name: Amount, dtype: float64

## Q8: Number of orders per category

In [112]:
orders_per_category = df["Category"].value_counts()
print(orders_per_category)

Category
Books          26
Home           22
Clothing       18
Toys           18
Electronics    16
Name: count, dtype: int64

## Q9: Which day had the highest total sales?

In [115]:
daily_sales = df.groupby("OrderDate")["Amount"].sum().sort_values(ascending=False)
print("Highest sales day:", daily_sales.idxmax(), "with sales:", daily_sales.max())

Highest sales day: 2025-04-12 00:00:00 with sales: 1826.84

## Q10: How many unique customers placed orders?

In [118]:
unique_customers = df["CustomerName"].nunique()
print("Unique customers:", unique_customers)

Unique customers: 100

## Q11: What is the most frequent rating given by customers?

In [121]:
most_common_rating = df["Rating"].mode()[0]
print("Most frequent rating:", most_common_rating)

Most frequent rating: 1

## Q12: What is the total revenue per rating score?

In [124]:
revenue_per_rating = df.groupby("Rating")["Amount"].sum().sort_index()
print(revenue_per_rating)

Rating
1    14985.04
2    10436.78
3     8722.54
4    14339.71
5     8731.38
Name: Amount, dtype: float64

## Q13: Which customer gave the most 5-star ratings?

In [127]:
five_star_customers = df[df["Rating"] == 5]
top_five_star_customer = five_star_customers["CustomerName"].value_counts().idxmax()
print("Customer with most 5-star ratings:", top_five_star_customer)

Customer with most 5-star ratings: Regina Bates

## Q14: What is the average revenue per order by month?

In [130]:
df["Month"] = df["OrderDate"].dt.to_period("M")
avg_revenue_per_order_by_month = df.groupby("Month")["Amount"].mean()
print(avg_revenue_per_order_by_month)

Month
2024-04    498.728000
2024-05    589.165000
2024-06    569.405714
2024-07    620.646667
2024-08    614.065000
2024-09    427.780000
2024-10    341.830000
2024-11    617.884286
2024-12    590.474444
2025-01    555.577000
2025-02    547.480833
2025-03    555.940000
2025-04    852.386667
Freq: M, Name: Amount, dtype: float64

## Q15: What is the revenue contributed by the top 10% of customers?

In [133]:
# Total spend per customer
customer_spend = df.groupby("CustomerName")["Amount"].sum()

# Top 10% customers
threshold = int(0.1 * len(customer_spend))
top_10_percent_customers = customer_spend.sort_values(ascending=False).head(threshold)

# Revenue from top 10%
top_10_revenue = top_10_percent_customers.sum()
total_revenue = df["Amount"].sum()

print(f"Revenue by top 10% customers: ${top_10_revenue:.2f}")
print(f"Percentage contribution: {100 * top_10_revenue / total_revenue:.2f}%")

Revenue by top 10% customers: $9584.77
Percentage contribution: 16.75%

## Q16: Which customers placed more than 3 orders?

In [136]:
order_counts = df["CustomerName"].value_counts()
frequent_customers = order_counts[order_counts > 3]
print(frequent_customers)

Series([], Name: count, dtype: int64)

## Q17: What is the average rating across all orders?

In [139]:
avg_rating = df["Rating"].mean()
print("Average rating across all orders:", round(avg_rating, 2))

Average rating across all orders: 2.85

## Q18: Category with highest avg order value

In [142]:
avg_order_value_per_category = df.groupby("Category")["Amount"].mean().sort_values(ascending=False)
top_avg_value_category = avg_order_value_per_category.idxmax()
print("Category with highest average order value:", top_avg_value_category)

Category with highest average order value: Electronics

## Q19: Revenue % by category

In [145]:
revenue_by_category = df.groupby("Category")["Amount"].sum()
percent_by_category = (revenue_by_category / revenue_by_category.sum()) * 100
print(percent_by_category)

Category
Books          24.780772
Clothing       18.438918
Electronics    17.275316
Home           20.931200
Toys           18.573794
Name: Amount, dtype: float64

## Q20: Category with most 5-star ratings

In [148]:
five_star = df[df["Rating"] == 5]
five_star_counts = five_star["Category"].value_counts()
top_category_5_star = five_star_counts.idxmax()
print("Category with most 5-star ratings:", top_category_5_star)

Category with most 5-star ratings: Clothing

## Q21: Month with highest avg rating

In [151]:
df["Month"] = df["OrderDate"].dt.to_period("M")
avg_rating_by_month = df.groupby("Month")["Rating"].mean()
top_month = avg_rating_by_month.idxmax()
print("Month with highest average rating:", top_month)

Month with highest average rating: 2025-04

## Q22: Customer with highest avg order value

In [154]:
avg_order_value = df.groupby("CustomerName")["Amount"].mean()
top_customer = avg_order_value.idxmax()
print("Customer with highest average order value:", top_customer)

Customer with highest average order value: Michael Johnson

## Q23: Month-over-month revenue growth

In [157]:
monthly_revenue = df.groupby("Month")["Amount"].sum()
mom_growth = monthly_revenue.pct_change().dropna() * 100
print("Month-over-month revenue growth (%):")
print(mom_growth)

Month-over-month revenue growth (%):
Month
2024-05     41.760238
2024-06     12.753926
2024-07     40.141601
2024-08      9.932830
2024-09    -51.235456
2024-10    -42.922931
2024-11    153.060878
2024-12     22.867897
2025-01      4.544368
2025-02     18.251295
2025-03    -40.765354
2025-04     31.420143
Freq: M, Name: Amount, dtype: float64

## Q24: Customers who gave 1-star and 5-star

In [160]:
rating_map = df.groupby("CustomerName")["Rating"].agg(set)
mixed_raters = rating_map[rating_map.apply(lambda x: {1, 5}.issubset(x))]
print("Customers who gave both 1-star and 5-star ratings:")
print(mixed_raters.index.tolist())

Customers who gave both 1-star and 5-star ratings:
[]

## Q25: Avg order value for 5-star ratings

In [163]:
avg_value_5_star = df[df["Rating"] == 5]["Amount"].mean()
print("Average order value for 5-star ratings:", round(avg_value_5_star, 2))

Average order value for 5-star ratings: 582.09

## Q26: Customers who always rated >= 4

In [166]:
rating_consistency = df.groupby("CustomerName")["Rating"].min()
always_4_or_more = rating_consistency[rating_consistency >= 4]
print("Customers who always gave ratings >= 4:")
print(always_4_or_more.index.tolist())

Customers who always gave ratings >= 4:
['Amy Harrington', 'Austin Perry', 'Colleen Gordon', 'Crystal Watson', 'Dawn Taylor', 'Dr. Christopher Woods', 'Fred Jennings', 'Hannah Johnson', 'Heather Robinson', 'Jackie Douglas', 'Jennifer Gates', 'Jillian Shaw', 'John Ferguson', 'Joseph Sampson', 'Juan Patterson', 'Julie Bailey', 'Justin Hahn', 'Karen Tran', 'Lisa Kelly', 'Lisa Smith', 'Mark Bishop', 'Megan Garcia', 'Melissa Rose', 'Mindy Williams', 'Nicole Wright', 'Rachel Pham', 'Regina Bates', 'Ryan Mckinney', 'Sally Smith', 'Sara Parker', 'Sergio Robinson', 'Shannon Lopez', 'Tanya Mcbride', 'Taylor Flores', 'Taylor Valencia', 'Teresa Baker', 'Timothy Woodward', 'Tina Webb', 'William Beard PhD', 'William Dean']

## Q27: Std. deviation of amount by category

In [169]:
std_by_category = df.groupby("Category")["Amount"].std()
print("Standard deviation of amount by category:")
print(std_by_category)

Standard deviation of amount by category:
Category
Books          251.449212
Clothing       217.945052
Electronics    280.081125
Home           271.631494
Toys           179.925315
Name: Amount, dtype: float64

## Q28: Month with highest revenue growth

In [172]:
growth = df.groupby("Month")["Amount"].sum().pct_change()
top_growth_month = growth.idxmax()
print("Month with highest revenue growth:", top_growth_month)

Month with highest revenue growth: 2024-11

## Q29: Category with lowest avg rating

In [175]:
lowest_avg_rating_category = df.groupby("Category")["Rating"].mean().idxmin()
print("Category with lowest average rating:", lowest_avg_rating_category)

Category with lowest average rating: Home

## Q30: High-value but poorly rated orders

In [177]:
high_value_poor_rating = df[(df["Amount"] > 1000) & (df["Rating"] < 3)]
print("High-value but poorly rated orders:")
print(high_value_poor_rating[["CustomerName", "Category", "Amount", "Rating", "OrderDate"]])

High-value but poorly rated orders:
Empty DataFrame
Columns: [CustomerName, Category, Amount, Rating, OrderDate]
Index: []